
* {
  box-sizing: border-box;
}

.response-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #d4edda;
  color: #155724;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-msg { 
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.phone-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.phone-label { 
  display: "block"; 
  margin-bottom: 5px; 
  margin-bottom: 20px;
}

.phone-container { 
  margin-bottom: "10px" 
}


.container { 
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px 
    
}

